[submodule "app/Plugin/Crud"]
	path = app/Plugin/Crud
	url = git://github.com/nodesagency/Platform-Crud-Plugin.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = git://github.com/cakephp/debug_kit.git
[submodule "app/Plugin/TwitterBootstrap"]
	path = app/Plugin/TwitterBootstrap
	url = git://github.com/slywalker/TwitterBootstrap.git
[submodule "app/Plugin/Utils"]
	path = app/Plugin/Utils
	url = git://github.com/CakeDC/utils.git
[submodule "app/Plugin/CakePdf"]
	path = app/Plugin/CakePdf
	url = git://github.com/ceeram/CakePdf.git
